
* {
    flex-shrink: 0;
}

body { 
    margin: 0;
    padding: 0;  
}

.top-navbar, .content, .footer {
    background-color: #1F2937;
    padding:10px
}

.header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}
.top-navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 400px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin: 0;   
    padding: 10px;
    flex-shrink: 0;

}
a {
    text-decoration: none;
    color: #e5e7eb;
}
.content {
    padding: 70px 400px 70px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.left-side-content {
    width: 400px;
}
.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}
.title-subtext {
    color: #e5e7eb;
    margin: 0;
}
.sign-up-button, .call-to-action, .bottom-signup-button {
    background-color: #3882F6;
}
.sign-up-button {
    color: #f9faf8;
    padding: 5px 30px;
    border-radius: 8px;
    border: 0px;
    font-weight: 800;
    font-size: 17px;
    margin-top: 20px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 5px solid;
    padding: 0px;
    border-color: rgb(42, 114, 247)
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 500px;
    height: 200px;
    
    background-color: #e5e7eb;
    
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
    text-align: center;
    
}

.info-section {
    margin-bottom: 50px;
    
    
}
.below-info-header {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.info-pic {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text {
    width: 200px;
    height: 200px;
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 100px 500px;
    display: flex;
    flex-wrap: wrap;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
    margin-bottom: 0;
    width: 800px;
    

}
.quote-credit {
    font-weight: 800;
    width: 800px;
    text-align: end;
    font-size: 25px;
    
}

.call-to-action {
    padding: 50px 150px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    
}
.call-to-action-content {
    margin: 0;
}
.bottom-section {
    color: white;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 70px 0px;
}
.bottom-signup-button {
    border-radius: 8px;
    border: 2px solid;
    border-color: #f9faf8;
    color: #f9faf8;
    font-weight: 800;
    padding: 0 40px;
    margin-left: 150px;
    margin-top: 10px;
    font-size: 17px;
    height: 35px;
    flex-shrink: 0;
}

.footer {
    color: #f9faf8;
    text-align: center;
    padding: 50px;
}