.header, .footer {
    background-color: #1F2937;
}

.header {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.sign-up-button, .call-to-action {
    background-color: #3882F6;
}

img {
    width: 100px;
    height: 100px;
}

#top-image {
    width: 500px;
    height: 150px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}